<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">


    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                    <a class="navbar-brand text-white" th:href="@{/board/list}">공지사항</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" th:href="@{/webtoon/list}">웹툰</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" th:href="@{/goods/list}">굿즈</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-white" href="#">Action</a></li>
                                    <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled text-white" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <div class="d-flex" role="search">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a sec:authorize="isAnonymous()" class="nav-link active text-white" aria-current="page" th:href="@{/member/login}">로그인</a>
                                    <a sec:authorize="isAuthenticated()" class="nav-link active text-white" aria-current="page" th:href="@{/member/logout}">로그아웃</a>
                                </li>
                                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" th:href="@{/member/list}">회원목록</a>
                                </li>
                                <li sec:authorize="!isAuthenticated()" class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" th:href="@{/member/regMember}">회원가입</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" th:href="@{/member/myInfo}">회원정보</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
        </nav>
    </div>
</html>