body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imgContainer, .infoContainer {
    margin-bottom: 20px;
}

.imgContainer img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.infoContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.infoContainer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.infoContainer p {
    margin-bottom: 10px;
}

.infoContainer button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.infoContainer button:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-dark {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #23272b;
}
